
.main-box.clearfix
	.main-box-header.clearfix
		%h2
			= pluralize @movements.count, 'Movement'
	.main-box-body.clearfix
		%table.table.table-striped
			%thead
				%th
					Name
				%th
					AKA
				%th
					Equipment
				%th
					Workouts
			%tbody
				- @movements.each do |movement|
					%tr
						%td
							= link_to movement.title, movement
						%td
							= movement.aliases.join( ', ' )
						%td
							= movement.equipment
						%td
							= movement.workouts.count