
%a.pull-right.btn.btn-danger{ href: workout_path( @workout ), data: { method: :delete, confirm: 'Are you Sure?' } }
	Delete

%h1
	Edit Workout:
	= @workout.title

= render 'form'

%h3
	Every on the Minute:
= form_for @segment do |f|
	= f.hidden_field :workout_id, value: @workout.id
	%table.table
		%thead
			%th
				Every
			%th
				Work
			%th
		%tbody
			%tr
				%td.col-xs-2
					= f.text_field :every_interval, class: 'form-control'
					min

				%td.col-xs-8
					= f.text_area :content, class: 'form-control'
				%td
					= f.submit 'Add', class: 'btn btn-small btn-success'



%h3
	Movements:

= form_for WorkoutMovement.new do |f|
	= f.hidden_field :workout_id, value: @workout.id
	%table.table
		%thead
			%th 
			%th Equipment
			%th M Rx
			%th F Rx
		%tbody
			- @workout.workout_movements.each do |movement|
				%tr
					%td= link_to movement, movement_path( movement )
					%td= movement.equipment
					%td= movement.m_rx
					%td= movement.f_rx
			%tr
				%td
					= f.collection_select :movement_id, Movement.order( :title ).all, :id, :title, {}, class: 'form-control'
				%td
					= f.text_field :equipment, class: 'form-control'
				%td
					= f.text_field :m_rx, class: 'form-control'
				%td
					= f.text_field :f_rx, class: 'form-control'
				%td
					= f.submit 'Add', class: 'btn btn-small btn-success'



%hr
= link_to 'Show', @workout
= link_to 'Back', workouts_path



%br
%br
%br
%br