.container
	.row
		.col-xs-12
			#login-box
				#login-box-holder
					.row
						.col-xs-12
							%header#login-header
								#login-logo
									= image_tag 'logo-wht.gif'
									%span
										Living AMRAP
							#login-box-inner
								= form_for resource, as: resource_name, url: registration_path( resource_name ), role: :form do |f|
									.input-group
										%span.input-group-addon
											%i.fa.fa-user
										= f.text_field :name, placeholder: 'Full Name', class: 'form-control'
									.input-group
										%span.input-group-addon
											%i.fa.fa-envelope
										= f.text_field :login, autofocus: true, placeholder: "email", class: 'form-control'
									.input-group
										%span.input-group-addon
											%i.fa.fa-lock
										= f.password_field :password, placeholder: "password", class: 'form-control'
									.input-group
										%span.input-group-addon
											%i.fa.fa-unlock-alt
										= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control'

									#remember-me-wrapper
										.row
											.col-xs-12
												.checkbox-nice
													= f.check_box :terms, checked: true
													= f.label :terms, "I accept terms and conditions"

										.row
											.col-xs-12
												= f.submit "Register", class: 'btn btn-success col-xs-12'
									.row
										.col-xs-12
											%p.social-text
												Or Create an account with
									.row
										.col-xs-12.col-sm-6
											%a.btn.btn-primary.btn-facebook.col-xs-12
												%i.fa.fa-facebook
												Facebook
										.col-xs-12.col-sm-6
											%a.btn.btn-primary.btn-twitter.col-xs-12
												%i.fa.fa-twitter
												Twitter


									.row
										.col-xs-12
											%p.social-text{ style: 'font-size: 16px;' }
												Already have an account?
												%a{ href: main_app.login_path }
													Log In
				-##login-box-footer
					.row
						.col-xs-12
							Already have an account?
							%a{ href: main_app.login_path }
								Log In

-#
	.container
		.row

			.col-md-5.col-md-offset-3
				.panel.panel-default{ style: "margin-top: 100px;" }
					.panel-heading
						%h3.panel-title
							Sign Up

					.panel-body
						= form_for( resource, as: resource_name, url: registration_path( resource_name ), html: { class: 'separate-sections' } ) do |f|
							= devise_error_messages!
							.row
								.form-group.col-md-10
									.input-group
										.input-group-addon
											%i.fa.fa-envelope
										= f.email_field :email, :autofocus => true, placeholder: 'Email', class: 'form-control'

							.row
								.form-group.col-md-10
									.input-group
										.input-group-addon
											%i.fa.fa-user
										= f.text_field :name, placeholder: 'User Name', class: 'form-control'


							.row
								.form-group.col-md-10
									.input-group
										.input-group-addon
											%i.fa.fa-key
										= f.password_field :password, placeholder: 'Password', class: 'form-control'


							.row
								.form-group.col-md-10
									.input-group
										.input-group-addon
											%i.fa.fa-key
										= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control'

							
							.row
								.form-group.col-md-10
									.input-group
										= f.submit "Sign up", class: 'btn btn-primary'

					.panel-footer
						= render "devise/shared/links"

