%br
%br
%br
%br
%br
%footer#footer.navbar.navbar-inverse.navbar-fixed-bottom{ role: "navigation" }
	.container
		.row
			.pull-left
				%p.navbar-text
					= Time.zone.now
			.pull-right.copyright
				%p.navbar-text
					© 
					= Time.now.year
					= ENV['APP_NAME']

					-#%a{ href: 'http://groundswellenterprises.com'  }
						= image_tag 'groundswell_logo.png', width: 24, valign: :bottom
						Groundswell Enterprises, LLC

					|
					- if current_user
						= current_user
						%a{ href: main_app.dash_index_path }
							%i.fa.fa-bar-chart-o
							Dash
						|
						= link_to 'Logout', main_app.logout_path
					- else
						= link_to 'Admin', main_app.login_path


