!!!strict
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
//[if gt IE 8] <html class="no-js">
%html{ lang: :en }
	%head
		= render 'application/html_head', args: {}

		= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"

		= javascript_include_tag 'application'

		%link{ href: "http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:300,400,700,400italic,700italic|Droid+Serif", rel: "stylesheet", type: "text/css" }

		= stylesheet_link_tag "theme", media: "all"
		
	%body
		= render 'application/analytics'
		= render 'application/navbar'

		#main.container
			= render 'application/flash'
			
			= yield


		= render 'application/footer'